# ignore closed-source data

*.png
*.nii
*.csv
*.xlsx
*.sav
*.zip

# ignore irrelevant directories

*/data/Definitions/*
*/data/Example_Data/*
*/data/Raw_Data/*
*/data/Ungrouped_Data/*
*/__pycache__/*
__pycache__/dataset.cpython-37.pyc
